
body {
    font-family: "Segoe UI", system-ui, sans-serif;
    background: whitesmoke;
}

h1 {
    font-family: "Segoe UI", system-ui, sans-serif;
    color: blue;
}

nav > a {
    padding: 0 5px;
}

form > div {
    padding: 2px;
}

form > div > label {
    display: inline-block;
    text-align: right;
}

.errorlist {
    width: 300px;
}
