
html {
    font-family: "Segoe UI", system-ui, sans-serif;
    background: whitesmoke;
    padding: 0;
    margin: 0;
}

form > div {
    padding: 5px 0;
}

#logout-button {
    position: absolute;
    top: 20px;
    right: 5px;
    color: #602121;
}
